.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 10000;
  padding: 10px 80px;
}

.logo {
  font-family: "Racing Sans One", cursive;
  font-size: 35px;
  color: var(--text-color);
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}
