.cards {
  border: none;
  position: relative;
  border-radius: 0;
  background: #000;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }
}

.cards:hover .content,
.cards:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.category {
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}

.title {
  position: relative;
  color: var(--text-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    height: 5px;
    width: 80%;
    background: linear-gradient(
      90deg,
      var(--primary-color),
      var(--primary-color),
      transparent
    );
    z-index: 1000;
  }
}

.icon > * {
  font-size: 2.5rem;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    color: var(--primary-color);
  }
}
