.nav {
  display: flex;
  margin: 0;
  padding: 0;
  &.nav > * {
    list-style: none;
    margin: 0 20px;
  }
}

.item {
  color: var(--text-color);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  &:hover {
    color: var(--primary-color);
  }
  &:active {
    color: var(--primary-color);
  }
}
