.scrolled {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid var(--primary-color);
  border-image: linear-gradient(
    98deg,
    transparent,
    var(--primary-color),
    transparent
  );
  backdrop-filter: blur(20px);
  padding: 10px 80px;
}
